/app/cache/*
/app/logs/*
/app/config/parameters.yml
/app/bootstrap.php.cache
/vendor/
/web/bundles/
/web/css
/web/js
/web/fonts
/web/assetic
/bin/*
!bin/console
!bin/symfony_requirements
!bin/security-checker
!bin/doctrine.php
!bin/doctrine-dbal
!bin/doctrine
/app/phpunit.xml
/phpunit.xml
